.fo_ms {
  font-size: 1.5625rem;
}

.fo_f {
  font-size: 1.375rem;
}

.fo_default {
  font-size: 1rem;
}

.fo_sm {
  font-size: 0.875rem;
}

.fo_copy {
  font-size: 1.125rem;
}

.inner {
  width: 71.55%;
  margin: 0 auto;
}

body.menu--open #header .navbar .container #navbarNav {
  display: none;
}

#header {
  height: 90px;
  position: fixed;
  width: 100%;
  z-index: 100;
  background: #fff;
  transition: background 1s;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
}
#header.sub_header {
  background: rgb(0, 0, 0);
}
#header .inner {
  height: 100%;
}
#header .navbar {
  height: 100%;
}
#header .navbar .container {
  display: flex;
  align-items: center;
  height: 100%;
  box-sizing: border-box;
}
#header .navbar .container .logo {
  transform: translateY(-100%);
  transition: all 2s;
  opacity: 0;
}
#header .navbar .container .logo.done {
  transform: translateY(0%);
  opacity: 1;
}
#header .navbar .container #navbarNav {
  width: 87%;
  display: flex;
  justify-content: end;
  align-items: center;
  transform: translateY(-100%);
  transition: all 2s;
  opacity: 0;
}
#header .navbar .container #navbarNav.done {
  transform: translateY(0%);
  opacity: 1;
}
#header .navbar .container #navbarNav .navbar-nav {
  display: flex;
  justify-content: flex-start;
  width: 80%;
  opacity: 1;
  transition: opacity 500ms ease;
}
#header .navbar .container #navbarNav .navbar-nav.on {
  opacity: 0;
}
#header .navbar .container #navbarNav .my_cont span {
  float: left;
  position: relative;
}
#header .navbar .container #navbarNav .my_cont span:first-child {
  padding: 0 15px 0 0;
  margin: 0 15px 0 0;
}
#header .navbar .container #navbarNav .my_cont span:first-child:after {
  content: "";
  display: block;
  width: 0.1rem;
  height: 22px;
  background: #232323;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0%, -50%);
}
#header .navbar .container #navbarNav .my_cont span .join {
  font-weight: 700;
}
#header .navbar .container #navbarNav ul > li.nav-item {
  width: 17%;
  text-align: center;
  position: relative;
  float: left;
}
#header .navbar .container #navbarNav ul > li.nav-item.on > a {
  font-weight: 700;
  color: #003B82;
}
#header .navbar .container #navbarNav ul > li.nav-item > a {
  padding: 30px 0;
  border-radius: 30px;
  transition: all 300ms ease;
  position: relative;
}
#header .navbar .container #navbarNav ul > li.nav-item > a:hover:after {
  width: 75px;
}
#header .navbar .container #navbarNav ul > li.nav-item > a:after {
  content: "";
  display: block;
  width: 0;
  height: 4px;
  background: #003B82;
  position: absolute;
  bottom: 2px;
  left: 50%;
  transform: translateX(-50%);
  transition: width 500ms linear;
}
#header .navbar .container #navbarNav ul > li.nav-item > a small {
  display: block;
  font-weight: 400;
  line-height: 1;
  margin: 0 0 2px 0px;
}
#header .navbar .container #navbarNav ul > li.nav-item .sub_menu {
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  width: 100%;
  background: rgb(255, 255, 255);
  height: auto;
  z-index: -1;
  padding: 91px 0 0;
  transition: opacity 0.5s;
  transition: background 1s;
  display: none;
}
#header .navbar .container #navbarNav ul > li.nav-item .sub_menu.on {
  display: block;
}
#header .navbar .container #navbarNav ul > li.nav-item .sub_menu li {
  border-bottom: 1px solid #eee;
}
#header .navbar .container #navbarNav ul > li.nav-item .sub_menu li:hover {
  background: #003B82;
}
#header .navbar .container #navbarNav ul > li.nav-item .sub_menu li:hover a {
  color: #fff;
}
#header .navbar .container #navbarNav ul > li.nav-item .sub_menu li:last-child {
  border-bottom: 0;
}
#header .navbar .container #navbarNav ul > li.nav-item .sub_menu li a {
  font-size: 1.125rem;
  padding: 18px 10px;
}
#header .navbar .container #navbarNav ul > li.nav-item .sub_menu li a i {
  display: none;
  width: 0%;
  height: 2px;
  background: #fff;
  border-radius: 0;
  transition: all 1s;
  margin: 8px 0 0;
}
#header .navbar .container #navbarNav .navbar-toggler {
  position: relative;
  width: 22px;
  height: auto;
  border: 0;
  outline: 0;
  background: transparent;
  z-index: 100;
  display: none;
}
#header .navbar .container #navbarNav .navbar-toggler.on .btn_line_01 {
  transform: rotateZ(-45deg) translate3d(-6px, 8px, 0);
  width: 25px;
}
#header .navbar .container #navbarNav .navbar-toggler.on .btn_line_02 {
  opacity: 0;
  transform: translateX(0);
}
#header .navbar .container #navbarNav .navbar-toggler.on .btn_line_03 {
  transform: rotateZ(45deg) translate3d(-3px, -6px, 0);
  width: 25px;
}
#header .navbar .container #navbarNav .navbar-toggler.on .hamburger-menu:hover span.iconbar.btn_line_01 {
  width: 25px;
}
#header .navbar .container #navbarNav .navbar-toggler.on .hamburger-menu:hover span.iconbar.btn_line_03 {
  width: 25px;
}
#header .navbar .container #navbarNav .navbar-toggler .btn_line_02 {
  margin: 6px 0;
}
#header .navbar .container #navbarNav .navbar-toggler .hamburger-menu {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  cursor: pointer;
}
#header .navbar .container #navbarNav .navbar-toggler .hamburger-menu:hover span.iconbar.btn_line_01 {
  width: 17px;
}
#header .navbar .container #navbarNav .navbar-toggler .hamburger-menu:hover span.iconbar.btn_line_02 {
  width: 22px;
}
#header .navbar .container #navbarNav .navbar-toggler .hamburger-menu:hover span.iconbar.btn_line_03 {
  width: 17px;
}
#header .navbar .container #navbarNav .navbar-toggler .hamburger-menu span {
  display: block;
  width: 100%;
  height: 4px;
  position: absolute;
  left: 0;
  transition: transform 0.3s ease;
}
#header .navbar .container #navbarNav .navbar-toggler .hamburger-menu span.iconbar {
  position: relative;
  display: block;
  width: 100%;
  height: 2px;
  background: #000;
  transition: all 0.2s ease-in-out;
  transition: width 0.13s ease-out, transform 0.13s ease-out, opacity 0.13s ease-out;
}
#header .navbar .container #navbarNav .navbar-toggler .hamburger-menu span.iconbar:nth-child(2) {
  width: 65%;
}
#header .navbar .container #navbarNav .navbar-toggler .hamburger-menu span::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #000;
}
#header .navbar .container #navbarNav .navbar-toggler .hamburger-menu span::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #000;
}

.aside_bg.on {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10;
}

#aside {
  display: none;
}
#aside.on #lnb {
  right: 0;
}
#aside .aside_bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  display: none;
  transition: display 0.3s;
}
#aside .aside_bg.on {
  pointer-events: auto;
  display: block;
}
#aside #lnb {
  position: fixed;
  display: block;
  right: -120%;
  transition: 0.5s;
  top: 0;
  padding: 85px 0px;
  width: 40%;
  height: 100%;
  box-sizing: border-box;
  background-color: rgb(0, 59, 130);
  z-index: 50;
  overflow-y: scroll;
}
#aside #lnb li {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  margin: 0 0 20px 0;
}
#aside #lnb li:last-child {
  margin: 0;
}
#aside #lnb li a {
  color: #eee;
  font-weight: 600;
  padding: 0 30px 20px;
}
#aside #lnb li .sub {
  padding: 20px 50px;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
}
#aside #lnb li .sub a {
  font-weight: 400;
  padding: 0;
}
#aside #lnb li .sub li {
  margin: 0 0 25px 0;
  border-bottom: 0;
}
#aside #lnb li .sub li:last-child {
  margin: 0;
}

#footer {
  position: relative;
  text-align: center;
}
#footer .f_box {
  background: #fff;
}
#footer .inner {
  max-width: 100%;
  position: relative;
  margin: 80px auto;
}
#footer .inner .flex {
  display: flex;
}
#footer .inner .flex .agree_box {
  margin: 0 0 20px 0;
}
#footer .inner .flex .agree_box a {
  font-size: 1.25rem;
  border: 1px solid #ddd;
  padding: 10px 20px;
  display: inline-block;
}
#footer .inner .flex .copyright {
  color: #000;
  text-align: left;
  font-weight: 600;
  margin: 20px 0 0;
}
#footer .inner .flex.f1 {
  text-align: left;
}
#footer .inner .flex #f_logo {
  margin: 0 0 50px 0;
}
#footer .inner .flex ul {
  display: flex;
  justify-content: space-between;
}
#footer .inner .flex ul li a {
  font-weight: 600;
  margin: 0 30px;
  font-weight: 400;
}
#footer .inner .address {
  margin: 0 5% 0;
  width: 70%;
}
#footer .inner .address p {
  font-size: 1.125rem;
  color: #B9B9B9;
}
#footer .inner .address p i {
  width: 1px;
  height: 10px;
  display: inline-block;
  background: #B9B9B9;
}

#totop {
  opacity: 0;
  position: sticky;
  z-index: 10000;
  border: none;
  outline: none;
  background: transparent;
  cursor: pointer;
  border-radius: 4px;
  transition: opacity 0.5s;
  width: 40px;
  height: 40px;
}

/* ======================= 1920 =============================*/
@media (max-width: 1920px) {
  .inner {
    width: 80%;
  }
}
/* ======================= 1600 =============================*/
@media (max-width: 1600px) {
  .fo_f {
    font-size: 1.1rem;
  }
  #header {
    height: 80px;
  }
  #header .navbar .container .logo {
    width: 170px;
  }
  #header .navbar .container #navbarNav ul > li.nav-item {
    width: 18%;
  }
  #header .navbar .container #navbarNav .my_cont span:first-child {
    padding: 0 10px 0 0;
    margin: 0 10px 0 0;
  }
  #header .navbar .container #navbarNav .my_cont span:first-child:after {
    height: 18px;
  }
}
/* ======================= 1440 =============================*/
@media (max-width: 1440px) {
  #header .navbar .container #navbarNav ul > li.nav-item {
    margin: 0;
  }
}
/* ======================= 1360 =============================*/
@media (max-width: 1360px) {
  #aside .navbar-nav_m .menu--open ul li {
    margin: 0 auto;
  }
  #aside .navbar-nav_m ul {
    flex-wrap: wrap;
  }
  #aside .navbar-nav_m ul li {
    flex: 1 1 30%;
  }
  #aside .navbar-nav_m li.nav_f > a:after {
    left: 50%;
    transform: translate(-50%);
  }
}
/* ======================= 1280 =============================*/
@media (max-width: 1280px) {
  .inner {
    width: 90%;
  }
  .fo_ms {
    font-size: 1.1rem;
  }
  #header {
    height: 65px;
  }
  #header .navbar .container .logo {
    width: 130px;
  }
  #header .navbar .container #navbarNav .navbar-nav {
    margin: 0 2% 0 0;
  }
  #header .navbar .container #navbarNav ul li.nav-item {
    width: 20%;
  }
  #aside #lnb {
    width: 50%;
  }
  #footer .inner .qr_box {
    width: 80px;
  }
  #footer .inner .flex .agree_box a {
    font-size: 1rem;
  }
  #footer .inner .flex #f_logo {
    width: 130px;
  }
}
/* ======================= 1114 =============================*/
/* ======================= 1024 =============================*/
@media (max-width: 1024px) {
  #header .navbar .container #navbarNav .navbar-nav {
    display: none;
  }
  #header .navbar .container #navbarNav .navbar-toggler {
    display: block;
  }
  #header .navbar .container #navbarNav .my_cont span {
    margin: 0 15px 0 0;
  }
  #aside {
    display: block;
  }
  #aside .navbar-nav_m {
    display: block;
    padding: 100px;
  }
  #aside .navbar-nav_m.menu--open ul li {
    text-align: left;
    margin: 0 0 20px 20px;
  }
  #aside .navbar-nav_m.menu--open ul li.nav_f {
    width: 100%;
    text-align: left;
  }
  #aside .navbar-nav_m.menu--open ul li.nav_f a:after {
    display: none;
  }
  #aside .navbar-nav_m ul {
    display: block;
  }
  #aside .navbar-nav_m ul li .sub {
    display: none;
    background: rgb(0, 43, 110);
    padding: 20px 40px 10px;
  }
}
/* ======================= 768 =============================*/
@media (max-width: 768px) {
  #aside #lnb {
    width: 80%;
  }
  #aside .navbar-nav_m {
    padding: 30px;
  }
  #footer .inner {
    margin: 50px auto;
  }
  #footer .inner .qr_box {
    width: 60px;
    position: absolute;
    top: 0;
    right: 0;
  }
  #footer .inner .flex {
    flex-direction: column;
  }
  #footer .inner .flex #f_logo {
    margin: 0 0 20px 0;
  }
  #footer .inner .address {
    margin: 0;
    width: 100%;
  }
  #footer .inner .address p span:first-child {
    width: 180px;
  }
}
/* ======================= 640 =============================*/
/* ======================= 540 =============================*/
@media (max-width: 540px) {
  #header .navbar .container #navbarNav .navbar-toggler .hamburger-menu span.iconbar:nth-child(2) {
    width: 70%;
  }
}
/* ======================= 480 =============================*/
@media (max-width: 480px) {
  #footer .inner .address p {
    font-size: 1rem;
  }
}
/* ======================= 414 =============================*/
@media (max-width: 414px) {
  #header {
    height: 55px;
  }
  #header .navbar .container #navbarNav .my_cont span {
    margin: 0 10px 0 0;
  }
  #aside {
    width: 85%;
    right: -85%;
  }
  #aside #lnb {
    padding: 75px 0;
  }
}
@media (max-width: 360px) {
  #footer .inner .address p {
    align-items: start;
    flex-direction: column;
  }
}/*# sourceMappingURL=common.css.map */